NODE_ENV=development
SECRET_KEY=dev-secret-key
DOMAIN=https://staging.bestande.ch
REACT_APP_ONESIGNAL_APP_ID=ef01fdd5-ab27-4725-ab26-d1f924aa5ef1
REACT_APP_ONESIGNAL_SAFARI_WEB_ID=web.onesignal.auto.40adfb09-7751-41be-9e4d-5711eb8f35a8
MONGODB_URI=mongodb://127.0.0.1:27017/bestande
ALGOLIA_PRIVATE_KEY=SECRET
AWS_ACCESS_KEY_ID=SECRET
AWS_SECRET_ACCESS_KEY=SECRET
PORT=443
REACT_APP_OIDC_CLIENT_ID=bestande_production
REACT_APP_OIDC_REDIRECT_URI=https://staging.bestande.ch/login
JWT_SECRET_KEY=DEV_JWT_SECRET_KEY